<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projetos</title>
	<style>
		@font-face {
			font-family: 'Lato';
			src:
				url('../assets/fonts/Lato/Lato-Black.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-BlackItalic.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-Bold.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-BoldItalic.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-Italic.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-Light.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-LightItalic.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-Regular.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-Thin.ttf') format('svg'),
				url('../assets/fonts/Lato/Lato-ThinItalic.ttf') format('svg'),
			;
		}

		*,
		html,
		body,
		input,
		button,
		textarea,
		select {
			font-family: 'Lato', sans-serif;
		}

		/***/
		html {
			-webkit-print-color-adjust: exact;
		}
	</style>
</head>

<body>
	<main>
		<h1>{{ title }}</h1>

		<span>{{ text }}</span>
		<h1>{{ title }}</h1>

		<span>{{ text }}</span>
		<h1>{{ title }}</h1>

		<span>{{ text }}</span>
		<h1>{{ title }}</h1>

		<span>{{ text }}</span>
	</main>
</body>

</html>